<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>我的相册</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }

        ul{
            list-style: none;
        }

        div{
            max-width: 83%;
            height: auto;
            border: 1px solid #ccc;
            box-shadow: #ccc 5px 5px 5px ;
            margin: 100px auto;
            overflow: hidden;
        }

        li{
            width: 200px;
            height: 200px;
            margin: 50px 30px;
            cursor: pointer;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <ul>
            <% if(fileName.length){
                 for (var i = 0; i < fileName.length; i++ ){%>
                    <li onclick="showphoto(this)">
                        <img src="fm.png" alt="">
                        <%= fileName[i] %>
                    </li>
                <% }
            } else {
                for (var i = 0; i < imgSrc.length; i++ ){ %>
                    <li>
                        <img src=<%= imgSrc[i] %> alt="">
                    </li>
            <% }  }%>
        </ul>
    </div>
</body>

<script>
    String.prototype.trim = function () {
        return this.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
    }
    function showphoto(that) {
        window.location = "/" + that.textContent.trim();
    }
</script>
</html>